In [1]:
import pandas as pd
#import matplotlib.pyplot as plt
#import seaborn as sn
import nltk 
import re
from sklearn.feature_selection import chi2
import numpy as np
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
from nltk import tokenize
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
#rom sklearn.feature_extraction.text import CountVectorizer
#from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import metrics
from sklearn.datasets import load_files
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import pipelines

In [2]:
df=pd.read_csv("sep.csv")

In [3]:
df

,Unnamed: 0,Review,Label
0,0,Faculty members are cooperative and are highly...,faculty
1,1,"The teachers are highly educated, very knowled...",faculty
2,2,Well the teachers are a mixed sort as usual. S...,faculty
3,3,One thing good about the college is that here ...,faculty
4,4,Yes the teacher s are helpful. They do their b...,faculty
...,...,...,...
70434,21570,,placement
70435,21571,,placement
70436,21572,,placement
70437,21573,,placement
70438,21574,,placement

In [4]:
from io import StringIO
col = ['Label', 'Review']
df = df[col]
#df = df[pd.notnull(df['Review'])]
#df.columns = ['Label', 'Review'].cursor= database[x].find()
#df =  pd.DataFrame(list(cursor))
#df
df['category_id'] = df['Label'].factorize()[0]
category_id_df = df[['Label', 'category_id']].drop_duplicates().sort_values('category_id')
category_to_id = dict(category_id_df.values)
id_to_category = dict(category_id_df[['category_id', 'Label']].values)

In [5]:
df

,Label,Review,category_id
0,faculty,Faculty members are cooperative and are highly...,0
1,faculty,"The teachers are highly educated, very knowled...",0
2,faculty,Well the teachers are a mixed sort as usual. S...,0
3,faculty,One thing good about the college is that here ...,0
4,faculty,Yes the teacher s are helpful. They do their b...,0
...,...,...,...
70434,placement,,3
70435,placement,,3
70436,placement,,3
70437,placement,,3
70438,placement,,3

In [6]:
df.Review

0        Faculty members are cooperative and are highly...
1        The teachers are highly educated, very knowled...
2        Well the teachers are a mixed sort as usual. S...
3        One thing good about the college is that here ...
4        Yes the teacher s are helpful. They do their b...
                               ...
70434
70435
70436
70437
70438
Name: Review, Length: 70439, dtype: object

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(sublinear_tf=True, min_df=5, norm='l2', encoding='latin-1', ngram_range=(1, 2), stop_words='english')
#x = v.fit_transform(df['Review'].values.astype('U'))  ## Even astype(str) would work

features = tfidf.fit_transform(df.Review.values.astype('U'))
labels = df.category_id
features.shape

(70439, 56107)

In [8]:
N = 2
for Category, category_id in sorted(category_to_id.items()):
    features_chi2 = chi2(features, labels == category_id)
    indices = np.argsort(features_chi2[0])
    feature_names = np.array(tfidf.get_feature_names())[indices]
    unigrams = [v for v in feature_names if len(v.split(' ')) == 1]
    bigrams = [v for v in feature_names if len(v.split(' ')) == 2]
    trigrams = [v for v in feature_names if len(v.split(' ')) == 3]
    #print("# '{}':".format(Category))
    #print("  . Most correlated unigrams:\n. {}".format('\n. '.join(unigrams[-N:])))
    #print("  . Most correlated bigrams:\n. {}".format('\n. '.join(bigrams[-N:])))
    #print("  . Most correlated trigrams:\n. {}".format('\n. '.join(trigrams[-N:])))

In [9]:
x=[]
col=df["Review"]
for text in col:
    x.append(text)
y=[]
col=df["Label"]
for text in col:
    y.append(text)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(df['Review'], df['Label'], random_state = 0)
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train.values.astype('U'))
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
clf = MultinomialNB().fit(X_train_tfidf, y_train)
clf2 = RandomForestClassifier().fit(X_train_tfidf, y_train)
clf3=LogisticRegression().fit(X_train_tfidf, y_train)
clf4= LinearSVC().fit(X_train_tfidf, y_train)

/home/sanchit/.local/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/sanchit/.local/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/sanchit/.local/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [11]:
y_predic=clf.predict(count_vect.transform(X_test.values.astype('U')))#naive-bayes
y_predic2=clf2.predict(count_vect.transform(X_test.values.astype('U')))#random-forest
y_predic3=clf3.predict(count_vect.transform(X_test.values.astype('U')))#logistic regression
y_predic4=clf4.predict(count_vect.transform(X_test.values.astype('U'))) #linear svc

In [12]:
results = confusion_matrix(y_test,y_predic)
#print(results)#naive-bayes

In [13]:
results = confusion_matrix(y_test,y_predic2)
#print(results) #random forest

In [14]:
results = confusion_matrix(y_test,y_predic3)
#print(results) #logistic regression

In [15]:
results4 = confusion_matrix(y_test,y_predic4)
#print(results) #linear svc

In [16]:
models = [clf,clf2,clf3,clf4]
CV = 5
cv_df = pd.DataFrame(index=range(CV * len(models)))
entries = []
for model in models:
  model_name = model.__class__.__name__
  accuracies = cross_val_score(model, features, labels, scoring='accuracy', cv=CV)
  for fold_idx, accuracy in enumerate(accuracies):
    entries.append((model_name, fold_idx, accuracy))
cv_df = pd.DataFrame(entries, columns=['model_name', 'fold_idx', 'accuracy'])

/home/sanchit/.local/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/sanchit/.local/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [25]:
from sklearn.externals import joblib 
  
# Save the model as a pickle in a file 
joblib.dump(clf, 'filename.pkl') 
joblib.dump(count_vect,'count.pkl')
  
# Load the model from the file 
#knn_from_joblib = joblib.load('filename.pkl')  
  
# Use the loaded model to make predictions 
#knn_from_joblib.predict()

['count.pkl']

In [17]:
#cv_df.groupby('model_name').accuracy.mean()

In [18]:
from pymongo import MongoClient

In [19]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/sanchit/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [1]:
def segregate(query):
    connection = MongoClient('localhost', 27017)
    db = connection.minor
    collection = db[query]
    
    #print(collection)
    cursor=collection.find()
    for i in cursor:
        x=i['Review']
        #print(i)
        #x.replace(["<p>","<br>","-","()","(",")","..","..."],"") 
        l=tokenize.sent_tokenize(x)
        #print(l)
        a=''
        b=''
        c=''
        d=''
        
        for sentence in l:
            string=clf4.predict(count_vect.transform([sentence]))
            #print(string)
            if (string==['infrastructure']):
                a=a+sentence
            
            elif (string==['faculty']):
                b=b+sentence
            
            elif (string==['placements']):
                c=c+sentence
            
            elif (string==['social']):
                d=d+sentence
        #print("in",a)
        #print("fac",b)
        #print("pl",c)
        #print("so",d)
        
        collection.update_one(
            {"_id": i["_id"]},
            {
                "$set": {
                    "Faculty":b,
                    "Infrastructure":a,
                    "Placement":c,
                    "Social":d
                }
            }
        )